<ion-card [routerLink]="['/detalle', perro.id]">
  <img [src]="perro.foto" [alt]="perro.nombre" />

  <ion-card-header>
    <ion-card-title>{{ perro.nombre }}</ion-card-title>
    <ion-card-subtitle>{{ perro.raza }} - {{ perro.edad }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{ perro.descripcion }}</p>

    <ion-chip [color]="perro.adoptado ? 'medium' : 'success'">
      <ion-label>
        {{ perro.adoptado ? 'Adoptado' : 'Disponible' }}
      </ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
